.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullnews {
  width: 60%;
  color: white;
  margin :6% 2%;
  /* text-align: center; */
  justify-content: center;   
}
.image-container{
  /* border:2px solid red; */
}
.image-container>img{
  width: 100%;
  border-radius: 10px;
}
.data{
  margin-top: 2%;
  display:flex;
  flex-direction: column;
  gap: 10px;
  a{
    width: 20%;
  }
}